.addHotelForm {
  margin-top: 30px;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.addHotelForm p {
  margin-bottom: 5px;
}

.addHotelForm input {
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #808080;
  border-radius: 5px;
  width: 100%;
}

.addHotelForm select {
  width: 100px;
}

.addHotelForm .roomList {
  margin-top: 5px;
}

.addHotelForm .roomList input {
  width: 20px;
  text-align: left;
}

.addHotelForm button {
  margin-top: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  background-color: #00684a;
}
