footer {
  padding: 40px 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 14px;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style: none;
  padding: 5px 0;
  color: #003580;
  cursor: pointer;
}
